temp/*
lib/*
linge/www/cache/*
linge/application.init.php
linge/var/upload/*
linge/var/log/errors.log
linge/var/log/messages.log
linge/var/config/defaultconfig.ini.php
linge/var/config/profiles.ini.php

